<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.SevenNine.Partnercode">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permisssion.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission
        android:name="android.permission.RECEIVE_SMS"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.READ_SMS"
        tools:node="remove" />

    <application
        android:name="com.SevenNine.Partnercode.Activity.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_watch"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_watch"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name="com.SevenNine.Partnercode.Activity.CameraActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.SevenNine.Partnercode.Activity.ActivitySelectLang"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.SevenNine.Partnercode.Activity.GetLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.SevenNine.Partnercode.Activity.UploadCamera_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.SevenNine.Partnercode.Activity.SelectLanguageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.SevenNine.Partnercode.Activity.LandingPageActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.SevenNine.Partnercode.Activity.Extra_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.SevenNine.Partnercode.Activity.FirmShopDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.SevenNine.Partnercode.Activity.Slider_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.SevenNine.Partnercode.Activity.NewSignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.SevenNine.Partnercode.Activity.NewEnterOTP"
            android:screenOrientation="portrait" />


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyASLfdH5Tr931zKrsdH2alWHPxMg6NzD-A" /> <!-- android:value="AIzaSyBrYtFN3tRw8ElIi5P8ayOwgNbykiMYcjM" /> -->
        <!--
 <receiver
            android:name="com.FarmPe.SellerHub.ReadSms"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        -->
        <service android:name="com.SevenNine.Partnercode.GpsService" /> <!-- Firebase Notifications -->
        <service android:name="com.SevenNine.Partnercode.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.SevenNine.Partnercode.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>